$primary-color: #0000AA;
$secondary-color: #C4C4C4;
$title-color: #221D78;
$normal-button-color: #AAAAAA;
$red: #b71717;

@font-face {
  font-family: 'PC Senior';
  src: url('/fonts/pcsenior.ttf');
};

@font-face {
  font-family: 'Kongtext';
  src: url('/fonts/kongtext.ttf');
};

@font-face {
  font-family: 'Karmatic Arcade';
  src: url('/fonts/ka1.ttf');
};

@font-face {
  font-family: 'Charybdis';
  src: url('/fonts/charybdis.ttf');
};

@font-face {
  font-family: '80er Teenie Demo';
  src: url('/fonts/80erfinaldemo.ttf');
};

@font-face {
  font-family: 'Arcade';
  src: url('/fonts/Arcade Regular.ttf');
};